html, body{
padding: 0;
margin: 0;
}

/*
Afternoon #ff9500↓#ff5e3a

Morning #1ad6fd↓#1d62f0

Night #c644fc↓#5856d6
*/

.afternoon {
    color: white;
 	background-image: -webkit-gradient(linear, left top, left bottom, from( #ff9500), to( #ff5e3a)) !important; /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient(#ff9500, #ff5e3a) !important; /* Chrome 10+, Saf5.1+ */
    background-image:    -moz-linear-gradient(#ff9500, #ff5e3a) !important; /* FF3.6 */
    background-image:     -ms-linear-gradient(#ff9500, #ff5e3a) !important; /* IE10 */
    background-image:      -o-linear-gradient(#ff9500, #ff5e3a) !important; /* Opera 11.10+ */
    background-image:         linear-gradient(#ff9500, #ff5e3a) !important;
}
.morning {
    color: white;
 	background-image: -webkit-gradient(linear, left top, left bottom, from( #1ad6fd), to( #1d62f0)) !important; /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient(#1ad6fd, #1d62f0) !important; /* Chrome 10+, Saf5.1+ */
    background-image:    -moz-linear-gradient(#1ad6fd, #1d62f0) !important; /* FF3.6 */
    background-image:     -ms-linear-gradient(#1ad6fd, #1d62f0) !important; /* IE10 */
    background-image:      -o-linear-gradient(#1ad6fd, #1d62f0) !important; /* Opera 11.10+ */
    background-image:         linear-gradient(#1ad6fd, #1d62f0) !important;
}
.night {
    color: grey;
 	background-image: -webkit-gradient(linear, left top, left bottom, from( #c644fc), to( #5856d6)) !important; /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient(#c644fc, #5856d6) !important; /* Chrome 10+, Saf5.1+ */
    background-image:    -moz-linear-gradient(#c644fc, #5856d6) !important; /* FF3.6 */
    background-image:     -ms-linear-gradient(#c644fc, #5856d6) !important; /* IE10 */
    background-image:      -o-linear-gradient(#c644fc, #5856d6) !important; /* Opera 11.10+ */
    background-image:         linear-gradient(#c644fc, #5856d6) !important;
}
.header-tab{
	display: block;
	float: left;
	width: auto;
	min-width: 19%;
	text-align: center;
    cursor: pointer;
}

.header-tab:hover{
    background-color: gray;
    
}
#header {
	width: 100%;
	min-height: 2em;
}
ul {
	list-style-type: none;
}
#create {
    position: fixed;
    bottom: 0%;
    
}
#tab-geo, #tab-user, #tab-tag, #tab-fav {
    border-left: 1px solid grey;

}

