html, body{
padding: 0;
margin: 0;
}

/*
Afternoon #ff9500↓#ff5e3a

Morning #1ad6fd↓#1d62f0

Night #c644fc↓#5856d6
*/

.afternoon {
    color: white;
 	background-image: -webkit-gradient(linear, left top, left bottom, from( #ff9500), to( #ff5e3a)) !important; /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient(#ff9500, #ff5e3a) !important; /* Chrome 10+, Saf5.1+ */
    background-image:    -moz-linear-gradient(#ff9500, #ff5e3a) !important; /* FF3.6 */
    background-image:     -ms-linear-gradient(#ff9500, #ff5e3a) !important; /* IE10 */
    background-image:      -o-linear-gradient(#ff9500, #ff5e3a) !important; /* Opera 11.10+ */
    background-image:         linear-gradient(#ff9500, #ff5e3a) !important;
}
.morning {
    color: white;
 	background-image: -webkit-gradient(linear, left top, left bottom, from( #1ad6fd), to( #1d62f0)) !important; /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient(#1ad6fd, #1d62f0) !important; /* Chrome 10+, Saf5.1+ */
    background-image:    -moz-linear-gradient(#1ad6fd, #1d62f0) !important; /* FF3.6 */
    background-image:     -ms-linear-gradient(#1ad6fd, #1d62f0) !important; /* IE10 */
    background-image:      -o-linear-gradient(#1ad6fd, #1d62f0) !important; /* Opera 11.10+ */
    background-image:         linear-gradient(#1ad6fd, #1d62f0) !important;
}
.night {
    color: grey;
 	background-image: -webkit-gradient(linear, left top, left bottom, from( #c644fc), to( #5856d6)) !important; /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient(#c644fc, #5856d6) !important; /* Chrome 10+, Saf5.1+ */
    background-image:    -moz-linear-gradient(#c644fc, #5856d6) !important; /* FF3.6 */
    background-image:     -ms-linear-gradient(#c644fc, #5856d6) !important; /* IE10 */
    background-image:      -o-linear-gradient(#c644fc, #5856d6) !important; /* Opera 11.10+ */
    background-image:         linear-gradient(#c644fc, #5856d6) !important;
}
.header-tab{
	display: inline-block;
    width: auto;
    min-width: 19%;
    text-align: center;
    cursor: pointer;
}

.header-tab:hover{
    background-color: rgba(255,255,255,0.5);
    -webkit-box-shadow: 0px 14px 35px 1px rgba(255,255,255,0.75);
-moz-box-shadow: 0px 14px 35px 1px rgba(255,255,255,255.75);
box-shadow: 0px 14px 35px 1px rgba(255,255,255,0.75);
    
}
#header {
    text-align: center;
	position: fixed;
	width: 100%;
	min-height: 2em;
}
ul {
	list-style-type: none;
}
#create {
    position: fixed;
    bottom: 0%;
    left: 45%;
    width: 50%;  
}
#tab-geo, #tab-user, #tab-tag, #tab-fav {
    border-left: 1px solid grey;
}

.dude{
    text-decoration: underline;
    font-size: 1em;
    color: rgb(20,20,20);
} 

li{
    cursor: pointer;
    color: grey;
}

.hidden{
    font-size: .5em;   
    color: #999;
}

.content {
    font-weight: 700;
    font-size: 18px;
}

.follow-button {
    border: 4px #FF7519 solid;
    border-radius: 1em;
    background: #FF7519;
    color: white;
}

#backing {
    position: fixed;
    min-height: 20%;
    min-width: 100%;
    bottom: 5%;
    background: rgba(255,255,255,0.5);
    margin-left: auto;
    margin-right: auto;
    float: center;
}
.like-this{
    text-decoration: underline;
    cursor: pointer;
    font-size: 10px;

}